# macOS
.DS_Store
**/.DS_Store

# Altre cartelle macOS comuni
.AppleDouble
.LSOverride
# Project Hub specific
*.pyc
__pycache__/
.env
app/backend/*.db
.vscode/
.idea/
node_modules/

# OS specific (aggiuntivi)
Thumbs.db
